<br>
<div id="nav-div">

  <!-- <mat-menu #start="matMenu" #rootMenu="matMenu">
    <button mat-menu-item class="options-menu" (click)="goToStart()">Tela Inicial</button>
  </mat-menu> -->

  <mat-menu #people="matMenu" #rootMenu="matMenu" class="options-menu">
    <button mat-menu-item class="options-menu" (click)="goToClientForm()">Cadastrar Cliente</button>
    <button mat-menu-item class="options-menu" (click)="goToClientList()">Lista de Clientes</button>
  </mat-menu>

  <mat-menu #products="matMenu" #rootMenu="matMenu" class="options-menu">
    <button mat-menu-item class="options-menu" (click)="goToProductForm()">Cadastrar Produto</button>
    <button mat-menu-item class="options-menu" (click)="goToProductList()">Lista de Produtos</button>
  </mat-menu>

  <mat-menu #help="matMenu" #rootMenu="matMenu" class="options-menu">
    <button mat-menu-item class="options-menu">Dúvidas</button>
  </mat-menu>

  <div class="menu_buttons" [ngClass]="labels">
    <div class="options_w_label">
      <label for="icon" (click)="goToStart()">{{labels[0]}}</label>
      <button mat-icon-button (click)="goToStart()">
        <mat-icon aria-hidden="true" aria-label="home" class="icon">home</mat-icon>
      </button>
    </div>
    <div class="options_w_label">
      <label for="icon" [matMenuTriggerFor]="people">{{labels[1]}}</label>
      <button mat-icon-button [matMenuTriggerFor]="people">
        <mat-icon aria-hidden="true" aria-label="clients" class="icon">people</mat-icon>
      </button>
    </div>
    <div class="options_w_label">
      <label for="icon" [matMenuTriggerFor]="products">{{labels[2]}}</label>
      <button mat-icon-button [matMenuTriggerFor]="products">
        <mat-icon aria-hidden="true" aria-label="products" class="icon">inventory_2</mat-icon>
      </button>
    </div>
    <div class="options_w_label">
      <label for="icon" (click)="goToHelp()">{{labels[3]}}</label>
      <button mat-icon-button (click)="goToHelp()">
        <mat-icon aria-hidden="true" aria-label="help" class="icon">help</mat-icon>
      </button>
    </div>
  </div>

</div>
