<br>
<div id="nav-div">

  <!-- <mat-menu #start="matMenu" #rootMenu="matMenu">
    <button mat-menu-item class="options-menu" (click)="goToStart()">Tela Inicial</button>
  </mat-menu> -->

  <mat-menu #people="matMenu" #rootMenu="matMenu" class="options-menu">
    <button mat-menu-item class="options-menu" (click)="goToClientForm()">Cadastrar Cliente</button>
    <button mat-menu-item class="options-menu" (click)="goToClientList()">Lista de Clientes</button>
  </mat-menu>

  <mat-menu #products="matMenu" #rootMenu="matMenu" class="options-menu">
    <button mat-menu-item class="options-menu" (click)="goToProductList()">Lista de Produtos</button>
  </mat-menu>

  <mat-menu #help="matMenu" #rootMenu="matMenu" class="options-menu">
    <button mat-menu-item class="options-menu">Dúvidas</button>
  </mat-menu>

<button mat-icon-button (click)="goToStart()" class="nav-button" id="normalButton">Inicio</button>
<mat-button [matMenuTriggerFor]="people" class="nav-button">Clientes</mat-button>
<button mat-icon-button (click)="goToProductList()" class="nav-button" id="normalButton2">Produtos</button>
<button mat-icon-button (click)="goToHelp()" class="nav-button" id="normalButton3">Ajuda</button>
</div>
