<div class="form-div">
  <form [formGroup]="formEntity">
    <div *ngFor="let value of keys">
      <label [for]="value">{{ value | titlecase }}:</label>
      <br />
        <input *ngIf="value !== 'address'" type="text" [formControlName]="value" [id]="value" />

        <div *ngIf="value === 'address'" [formGroupName]="value">
          <input type="text" name="id" formControlName="zipCode" (blur)="searchZip()">
          <input type="text" name="id" formControlName="city">
        </div>
      <br />
    </div>
    <br />
    <div>
      <button type="button" (click)="clickOnSubmit()">Submit</button>
      <button type="button" (click)="goBack()">Cancel</button>
    </div>
  </form>
</div>
