<div class="table-title-div">
<h1 class="table-title">Tabela</h1>
</div>

<div>
  <button (click)="goToAdd()" class="table-button">Adicionar Cliente</button>
</div>

<mat-table [dataSource]="entities" class="mat-elevation-z8 normal-table">
  <ng-container [matColumnDef]="header" *ngFor="let header of headers">
    <th mat-header-cell *matHeaderCellDef>{{ header | titlecase }}</th>
    <!-- <tr mat-header-row *matHeaderRowDef="headers"></tr> -->
    <!-- <tr mat-row *matRowDef="let entrow; columns: headers;">{{ entrow.Id }}</tr> -->
    <td *matCellDef="let ent" class="mat-info"> {{ ent[header.toLowerCase()] }}</td>
  </ng-container>
    <tr mat-header-row *matHeaderRowDef="headers"></tr>
    <tr mat-row *matRowDef="let entrow; columns: headers;">{{ entrow.Id }}</tr>
</mat-table>

<!-- <tr>
    <th *ngFor="let header of headers">{{ header | titlecase }}</th>
  </tr>
  <tr *ngFor="let entity of entities">
    <td *ngFor="let key of keys">{{ entity[key] }}</td>
  </tr> -->
