html {
  background: linear-gradient(45deg, #ece7e7, #e9e4f0);
}

body {
  text-align: center;
}

* {
  margin: 8px;
  font-size: 18px;
  color: black;
  border-width: 2px;
  border-radius: 12px;
  border-color: #383838;
}

table {
  margin-left: auto;
  margin-right: auto;
}

tr,
td,
th {
  padding: 12px;
  font-size: 18px;
}

.button-in-list {
  margin-right: 20px;
}

.button-in-list:last-child {
  margin-right: 0;
}

input {
  padding: 4px;
}

label {
  font-size: 20px;
  font-weight: 500;
}

button {
  border: 2px solid #383838;
  border-radius: 12px;
  margin: 8px;
  padding: 0.4em 0.4em;
  background-color: white;
}

button:hover {
  background-color: #383838;
  color: #ffff;
  opacity: 70%;
  transform: scale(1.12);
  transition: 0.5s ease;
}

p {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 36px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1em;
}
